@model LoginUser

    <form asp-controller = "Home" asp-action='Logging' method="POST">
        
        <div class="form-group">
            <label asp-for="LoginEmail"></label>
            <span asp-validation-for="LoginEmail"></span>
            <input asp-for="LoginEmail"/>
        </div>

        <div class="form-group">
            <label asp-for="LoginPassword"></label>
            <span asp-validation-for="LoginPassword"></span>
            <input asp-for="LoginPassword"/>
        </div>
        
        <button>Submit</button>


    </form>