@{
    ViewData["Title"] = "Home Page";
}

@model User
<div
    style="background-image: url(https://cdn.discordapp.com/attachments/966746747219116093/968256947386191892/color-explosion-abstract-art-ann-powell_1.jpg);">
    <div style="border: 2px solid black; border-radius: 10px; margin-top: 150px; ">
        <h1 style="margin-left: 40px; margin-top: 8px;">Co-Mission</h1>
        <div class="d-flex justify-content-around text-center" style="margin-left: 50px;">
            <div class="text-center">
                <h1 class="display-4">Register!</h1>
                <div class="col-md">
                    <form asp-controller="Home" asp-action='Create' method="POST">

                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <span asp-validation-for="FirstName"></span>
                            <input asp-for="FirstName" />
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <span asp-validation-for="LastName"></span>
                            <input asp-for="LastName" />
                        </div>

                        <div class="form-group" style="margin-left: 2px;">
                            <label asp-for="Username"></label>
                            <span asp-validation-for="Username"></span>
                            <input asp-for="Username" />
                        </div>

                        <div class="form-group" style="margin-left: 35px;">
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email"></span>
                            <input asp-for="Email" />
                        </div>

                        <div class="form-group" style="margin-left: 100px; margin-top: -20px; margin-bottom: -5px;">
                            <label asp-for="isArtist"></label>
                            <input asp-for="isArtist" type="checkbox">
                            @* <input type="checkbox" asp-for="isArtist" value="true"> *@
                        </div>

                        <div class="form-group" style="margin-left: 5px;">
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password"></span>
                            <input asp-for="Password" />
                        </div>
                        <div style="margin-right: 52px;">
                            <div class="form-group">
                                <label asp-for="Confirm"></label>
                                <span asp-validation-for="Confirm"></span>
                                <input asp-for="Confirm" />
                            </div>
                        </div>


                        <button style="margin-left: 200px; margin-bottom: 14px;">Submit</button>


                    </form>
                </div>
            </div>

            <div class="col-md">
                <h1 class="display-4">Login!</h1>
                @{
                    LoginUser newLogin = new LoginUser();
                }
                <partial name="_Logging" model="@newLogin"></partial>
            </div>

        </div>
    </div>
</div>
