@model User





<div class="container">
    <h1 class="Display-1 text-center py-5 card bg-light shadow">@Model.FirstName @Model.LastName's Portfolio</h1>
    @if(Model.isArtist == false) 
        {
            <a class="btn btn-default">Message User</a>
        }
    

</div>

<div class="container">
    <div class="row">
        @foreach (var connection in Model.UserHasArt)
        {
            <div class="col justify-content-center"  style="width: 15rem;">
                <div class="d-flex align-items-center">

                <img class="mx-auto" style="width: 15rem;" src="@connection.Piece.ImgURL" alt="">
                </div>
                <p class="text-center">@connection.Piece.PieceName</p>          
            </div>

        }
    </div>
</div>

</div>

