@model User

<h1>Success</h1>
<form asp-controller= "Users" asp-action="NewChat" asp-route-ReceiverId= "@Model.UserId">
<button>Private Message</button>
</form>
<div class="container">
    @foreach (var item in ViewBag.userStyleDict)
    {
        <p>@item</p>
    }

    @foreach (var connection in Model.UserHasArt)
    {
        <p>@connection.Piece.PieceName</p>
        <img src="@connection.Piece.ImgURL" alt="">
    }

</div>

