@model User

<h1>Success</h1>
<form asp-controller= "Users" asp-action="NewMessage" asp-route-ReceiverId= "@Model.UserId">
<button>Private Message</button>
</form>
<div class="container">
    @foreach (var item in ViewBag.userStyleDict)
    {
        <p>@item</p>
    }

<div class="row">
    @foreach (var connection in Model.UserHasArt)
    {
        <div class="col justify-content-center"  style="width: 15rem;">
            <div class="d-flex align-items-center">

            <img class="mx-auto" style="width: 15rem;" src="@connection.Piece.ImgURL" alt="">
            </div>
            <p class="text-center">@connection.Piece.PieceName</p>          
        </div>

    }
</div>

</div>

